<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">  
<link rel="stylesheet" type="text/css" href="../public/css/test-67c89a35c8.css">
<link rel="stylesheet" type="text/css" href="../public/css/font/iconfont-e58ee56648.css">
<head>
	<title>eeeee</title>
</head>
<body>
	
	<div class="content">
		<div class="register">注册</div>
		<div class="detail">
			<div class="list">
				<i class="username iconfont icon-user"></i>
				<input type="text" placeholder="姓名">
			</div>
			<div class="list">
				<i class="email iconfont icon-email"></i>
				<input type="text" placeholder="email">
			</div>
			<div class="list">
				<i class="password iconfont icon-password"></i>
				<input type="text" placeholder="密码">
			</div>
			<div class="list">
				<i class="birthday iconfont icon-cc-gift"></i>
				<input type="text" placeholder="生日">
			</div>
		</div>
		<button class="login">加入</button>
	</div>
	<div class="bg"></div>
<script src="../public/js/jquery-8003fb1062.js"></script>
</body>
</html>
